/* Main */
header{
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url('https://smartdemowp.com/hanta/wp-content/uploads/2020/10/banner-1.png');
    background-size: cover;
    padding: 285px 0 340px;
    overflow: hidden;
    -webkit-transition: all 1000ms linear;
    -moz-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

header .content__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.content__inner .content__text{
    max-width: 660px;
    z-index: 5;
}

.content__inner .content__text h1{
    margin: 0;
    color: var(--white-color);
    font-size: clamp(6.4rem, 5.5vw, 10rem);
    line-height: 105px;
    margin-bottom: 35px;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    transform: translateY(0);
    -webkit-transition-delay: 700ms;
    -moz-transition-delay: 700ms;
    -ms-transition-delay: 700ms;
    -o-transition-delay: 700ms;
    transition-delay: 700ms;
}

.content__inner .content__text h2{
    position: relative;
    display: block;
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Open sans';
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 40px;
    transform: translateY(0);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.content__inner .content__btns{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1300ms;
    -moz-transition-delay: 1300ms;
    -ms-transition-delay: 1300ms;
    -o-transition-delay: 1300ms;
    transition-delay: 1300ms;
}

.content__inner .bee__img{
    position: absolute;
    bottom: -100px;
    right: -23%;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.content__inner .bee__img img{
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* End Header */
/* Container */
.container .circle__layer{
    background-image: url(https://smartdemowp.com/hanta/wp-content/uploads/2020/11/shape-1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-20%);
    padding-top: 12%;
}

.container .bee-zoom{
    position: relative;
    margin-left: 38px;
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
}

.container .bee-zoom img{
    position: absolute;
    width: 328px;
    height: 319px;
    animation: zoom-in-zoom-out 4s ease infinite;
    z-index: 1;
    top: -130px;
    left: 30px;
}

.container .features-content{
    padding: 125px 0 120px;
}

.container .features-content .section-name{
    margin-bottom: 75px;
}

.container .features-content .features-img{
    display: inline-block;
    transition: all 500ms ease;
    margin-bottom: 25px;
}

.container .product-box .col:hover .product-img,
.container .features-content .col:hover .features-img{
    transform: scale(1.1);
}

.container .features__text{
    padding: 0 30px;
}

.container .features-content h3{
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 32px;
    margin-bottom: 14px;
    color: var(--black-color);
    font-family: 'open-sans-condensed';
    font-weight: 700;
}

.container .features__text .section-detail{
    margin-bottom: 17px;
}

.container .features__text a {
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 3.2rem;
    line-height: 48px;
    color: #cb9744;
    box-shadow: inset 0 0 7px 3px #cb974426;
    border: 1px solid #cb97442e;
    transition: .3s;
    padding: 0 12px;
}

.container .features__text a:hover{
    background-color: var(--main-color-two);
}

.container .features__text svg{
    fill: var(--main-color-two);
    font-weight: 300;
    width: 25px;
    height: 25px;
}

.container .features__text a:hover svg{
    fill: var(--white-color);
}

.container .img-box{
    position: relative;
    display: inline-block;
    width: 788px;
    height: 788px;
    line-height: 730px;
    background: #fef6ef;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin: 0 -11px 0 -107px;
}

.container .img-box img{
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 7%;
}

.container .about{
    position: relative;
    margin-top: -54px;
}

.container .about .bee-up-down{
    right: 135px;
    top: -18%;
}

.container .about-text{
    position: relative;
    margin-left: 70px;
}

.container .about-text img{
    margin-bottom: 31px;
}

.container .about-text .section-detail{
    margin: 25px 0 36px;
}

.container .product{
    position: relative;
    text-align: center;
}

.container .product .circle__layer-up{
    background-image: url(https://smartdemowp.com/hanta/wp-content/uploads/2020/10/shape-2.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100%;
}

.container .product-box{
    padding: 125px 0 130px 0;
}

.container .product-box .section-name{
    margin-bottom: 50px;
}

.container .product .product-content{
    background-color: var(--white-color);
}

.container .product figure{
    margin: 0;
    object-fit: cover;
    max-width: 100%;
    overflow: hidden;
    line-height: 0;
}

.container .product .product-img{
    width: 100%;
    max-width: 100%;
    transition: all 500ms ease 0s;
}

.container .product .product__text{
    padding: 20px 0 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container .product .product__text h3{
    font-size: 1.8rem;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 3px;
    transition: all 500ms ease;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    cursor: pointer;
}

.container .product .product__text h3:hover{
    color: var(--main-color);
}

.container .rating i{
    height: 2rem;
    font-size: 1.8rem;
    color: var(--rating-color-one);
    margin: 0 -3px;
}

.container .product__text span{
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    color: var(--main-color);
}

.container .product__text .origin-price{
    color: #616161;
    text-decoration: line-through;
}

.container .product .more-view{
    margin-top: 60px;
}

.container .reason{
    padding: 20px 0 100px 0;
}

.container .reason .reason-img{
    position: relative;
    margin: 35px -160px 0px 20px;
}

.container .reason .reason-img::before{
    position: absolute;
    content: '';
    border: 30px solid #faf1ed;
    width: 360px;
    height: 545px;
    top: -53px;
    right: 80px;
    z-index: -1;
}

.container .reason .bee-up-down{
    top: -170px;
    right: 0px;
}

.container .reason figure{
    margin: 0;
}

.container .title-section > .section-detail{
    margin: 35px 0 27px;
}

.container .reason-product{
    position: relative;
    padding: 0px 10px 0px 100px;
    margin-bottom: 43px;
    min-height: 87px;
    display: flex;
}

.container .reason-product .img-wrapper{
    position: absolute;
    left: 0px;
    top: 7px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #f8ebe5;
    font-size: 40px;
    color: #131313;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    transition: all 500ms ease;
}

.container .reason-product .img-wrapper::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    right: 0px;
    transform: scale(0,0);
    z-index: -1;
    transition: all 500ms ease;
}

.container .reason-product .section-product-img{
    width: 50px;
    height: 50px;
    transform: translate(2px, 8px);
}

.container .reason-product:hover .img-wrapper::before{
    background-color: var(--main-color);
    transform: scale(1,1);
}

.container .reason-text .reason-product-title{
    font-size: 1.8rem;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #131313;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    cursor: pointer;
}

.container .services .services-text{
    margin-bottom: 50px;
}

.container .services__img{
    padding: 0 70px;
}

.container .services__img-content{
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}

.container .services__img-content:hover img{
    opacity: .1;
    transform: scale(1, 1);
}

.container .services__img-content:hover .services__link{
    opacity: 1;
    right: 1%;
}

.container .services__img-content:hover .text-box{
    opacity: 1;
    top: 0;
}

.container .services__img-text .text-box h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container .services__img-content img{
    width: 100%;
    transition: all 500ms ease;
}

.small-box{
    max-width: 281px;
}

.container .services__img-content .services__img-box{
    margin: 0;
    position: relative;
    display: block;
    overflow: hidden;
    background: -webkit-linear-gradient(-45deg,var(--gradiant-color-one),var(--gradiant-color-two) 100%);
    line-height: 0;
}

.container .services__img-content .services__img-text{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container .services__img-content .text-box{
    position: relative;
    padding: 15px;
    top: 15px;
    opacity: 0;
    transition: all 500ms ease;
}

.container .services__img-content .services__img-text h2{
    font-size: 3.5rem;
    line-height: 45px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-family: 'open-sans-condensed';
    font-weight: 700;
}

.container .services__img-content .services__img-text p{
    color: #faf1ed;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.container .services__img-text .services__link{
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: all 500ms ease;
    opacity: 0;
}

.container .services__img-text .services__link i{
    position: relative;
    display: inline-block;
    font-size: 4rem;
    line-height: 40px;
    color: #fff;
    z-index: 1;
}

.container .think{
    position: relative;
    padding: 90px 0 120px;
}

.container .think .think__heading{
    position: relative;
    text-align: left;
    display: block;
    margin-bottom: 50px;
}

.container .think .think-btn{
    background: #f8ebe5;
}

.container .think .think__container{
    position: relative;
}

.slick-arrow.slick-hidden{
    display: block;
}

.container .think__container .border-shape{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    width: 5px;
    height: 380px;
    background-repeat: no-repeat;
}

.container .think .think-content{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 35px;
    margin-bottom: 33px;
}

.container .think .think-content img{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    transform: translateY(12px);
}

.container .think__container .author-box{
    display: flex;
    align-items: center;
}

.container .author-box .author-img{
    margin-right: 11px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.container .author-box .author-img img{
    width: 100%;
    border-radius: 50px;
}

.container .author-box .author-text h4{
    font-size: 2rem;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    color: var(--black-color);
}

.container .author-box .author-text span{
    display: block;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    color: var(--main-color);
}

.multiple-items .slick-track{
	display: flex;
    width: 100% !important;
    max-width: 100%;
    transition: all 3s ease 0s;
}

.multiple-items .slick-list .draggable{
    overflow: hidden;
}

.think .slick-dots{
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.container .slick-dots button{
    position: relative;
    display: inline-block;
    background: 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    opacity: .2;
    transition: all 500ms ease;
    border: 3px solid var(--main-color);
    font-size: 0; 
}

.container .slick-dots li.slick-active button{
    opacity: 1;
}

.container .slick-dots li {
    margin: 0 0.25rem;
}

.multiple-items .slick-track .slick-slide{
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}

.container .number{
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background: #fdf3e8;
    padding: 78px 20px 80px;
}

.container .number .number__content svg{
    line-height: 45px;
    margin-bottom: 12px;
    height: 45px;
    fill: var(--main-color);
}

.container .number .number__content h3{
    font-size: 4.5rem;
    line-height: 50px;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 6px;
}

.container .number .number__content span{
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}

.container .cta{
    overflow: hidden;
}

.container .cta .cta-bc{
    background: url('../img/cta/cta-bc.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 952px;
}

.container .cta .cta-container{
    display: block;
    width: 100%;
    height: 100%;
}

.container .cta .cta-bc-top{
    position: relative;
    display: block;
}

.container .cta .cta-heading{
    background: -webkit-linear-gradient(-45deg, rgba(234, 127, 24, 0.9),rgba(190, 64, 7, 0.9) 100%);
    width: 100%;
    text-transform: uppercase;
    padding: 123px 0 320px;
}

.container .cta-heading h2{
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: 600;
    color: var(--white-color) !important;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.container .cta-heading > p{
    font-size: clamp(4rem, 5.5vw, 5rem);
    line-height: 50px;
    margin-bottom: 34px;
    color: var(--white-color) !important;
    font-family: 'open-sans-condensed';
    font-weight: 700;
}

.container .cta .cta-img-content{
    position: absolute;
    width: 100%;
    top: 293px;
    z-index: 3;
}

.container .cta .cta-news{
    position: relative;
}

.container .cta-img-content figure{
    margin: 0;
    position: relative;
    display: block;
    overflow: hidden;
    background: -webkit-linear-gradient(-45deg,var(--gradiant-color-one),var(--gradiant-color-two) 100%);
    line-height: 0;
}

.container .cta-img-content .cta-img{
    display: block;
    width: 100%;
    max-width: 100%;
    transition: all 500ms ease .1s;
}

.container .cta-img-content .cta-img:hover{
    transform: scale(1.1, 1.1);
    opacity: .2;
    cursor: pointer;
}

.container .cta .cta-news:hover .cta-img{
    transform: scale(1.1, 1.1);
    opacity: .2;
}

.container .cta .cta-text{
    padding: 32px 40px 40px 40px;
    border: 1px solid #e9e9e9;
    background-color: var(--white-color);
    text-align: left;
}

.container .cta .cta-text h4 a{
    text-transform: uppercase;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    color: var(--black-color);
    font-size: 1.8rem;
    line-height: 27px;
}

.container .cta .cta-text h4:hover a,
.container .cta .link a:hover{
    color: var(--main-color);
}

.container .cta .link a:hover{
    border-color: var(--main-color);
}

.container .cta .time{
    margin-bottom: 15px;
}

.container .cta .cta-text p{
    font-weight: 600;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.container .cta .section-detail i{
    margin-right: 8px;
}

.container .cta .link a{
    text-transform: uppercase;
    border-bottom: 2px solid #5b5858;
    font-size: 1.6rem;
    font-family: 'open-sans-condensed';
    font-weight: 700;
    line-height: 26px;
    color: #5b5858;
}

.container .cta .cta-bottom{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.container .cta-bottom .dark-overlay{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000000e0;
    z-index: 1;
}