/* PC */
.nav__center .nav__link-mobile {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .loader {
    height: 8em;
    width: 8em;
  }
}

@media screen and (max-width: 500px) {
  .loader {
    height: 7em;
    width: 7em;
  }
  .text-loading .letter-loading {
    font-size: 40px;
    letter-spacing: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .content__inner .content__text {
    max-width: 100%;
  }

  .content__inner .bee__img {
    display: none;
  }
}

/* Table, Mobile */
@media screen and (max-width: 63.9375em) {
  br {
    display: none;
  }

  .pt-90 {
    padding-top: 0 !important;
  }

  .header-bc .circle-btns,
  .bee-up-down,
  .bee-zoom,
  #second__nav {
    display: none;
  }

  .container .product .product-content,
  .productSec .product-content,
  .container .features__text,
  .container .cta .cta-news,
  .footer-content {
    margin-bottom: 30px;
  }

  .container .about {
    margin-top: -25%;
    padding-bottom: 130px;
  }

  .container .img-box {
    margin: 0 auto;
    width: 100%;
    height: auto;
    line-height: 100%;
  }

  .container .img-box img {
    width: 100%;
  }

  .container .about-text {
    margin: 0;
  }

  .container .reason .reason-img {
    margin: 0;
  }

  .container .think__container .border-shape,
  .container .reason .reason-img::before {
    display: none;
  }

  .footer-content {
    margin-left: 0 !important;
  }

  .nav__center-icon {
    margin-left: 0 !important;
  }

  /* Menu */
  .mobile-menu {
    display: block;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 99998;
  }

  .mobile-menu.open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
  }

  .mobile-menu .menu-backdrop {
    background: var(--main-color);
  }

  .mobile-menu.open .menu-backdrop {
    opacity: 0.7;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .mobile-menu .close-btn {
    position: absolute;
    right: 16px;
    top: 6px;
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }

  .mobile-menu.open .close-btn {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .mobile-menu .close-btn:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .mobile-menu .menu-box {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #202020;
    padding: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
  }

  .mobile-menu.open .menu-box {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .mobile-menu.open .menu-box-container {
    max-height: 792px;
  }

  .mobile-menu.open .menu-box-content {
    position: relative;
    top: 0 !important;
    left: 0;
  }

  .mobile-menu .nav-logo {
    position: relative;
    padding: 50px 25px;
    text-align: left;
    padding-bottom: 100px;
  }

  .mobile-menu .menu-outer .primary-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    display: block;
    width: 100%;
    float: none;
  }

  .mobile-menu .menu-outer .primary-menu li {
    position: relative;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .mobile-menu .menu-outer .primary-menu li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .mobile-menu .menu-outer .primary-menu li > a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    border-left: 5px solid #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .mobile-menu .menu-outer li.menu-item-has-children .dropdown-btn {
    position: absolute;
    right: 12px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;
  }

  .mobile-menu .menu-outer li.menu-item-has-children .dropdown-btn.open {
    background: #fff;
    color: #3b3b3b;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .mobile-menu .menu-outer li > .sub-menu {
    display: none;
  }

  .mobile-menu .menu-outer li > .sub-menu.open {
    display: block;
  }

  .mobile-menu .menu-outer li ul li > a {
    font-size: 16px !important;
    margin-left: 20px;
    text-transform: capitalize !important;
  }

  .mobile-menu .contact-info {
    position: relative;
    padding: 40px 30px 20px;
  }

  .mobile-menu .contact-info h4 {
    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .mobile-menu .contact-info ul li {
    position: relative;
    display: block;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
  }

  .mobile-menu .contact-info ul li a {
    color: rgba(255, 255, 255, 0.8);
  }

  .mobile-menu .social-links {
    position: relative;
    padding: 0 25px;
  }

  .mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px;
  }

  .mobile-menu .social-links li a {
    position: relative;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .container .circle__layer {
    padding-top: 40%;
  }

  .slider-logo {
    padding: 130px 0 !important;
  }

  .nav__center .nav__link {
    display: none;
  }

  .nav__center .nav__link-mobile {
    display: block;
    margin-top: 0px;
    padding: 10px;
    width: 50px;
    height: 40px;
    background: #fff;
    text-align: center;
  }

  .nav__center .nav__link-mobile i {
    font-size: 1.6rem;
  }

  .header-bc {
    padding-top: 180px;
    padding-bottom: 220px;
  }

  .container .cta .cta-bc {
    height: 1354px;
  }

  .foot-layer .row {
    padding-bottom: 50px !important;
  }
}

/* Mobile */
@media screen and (max-width: 46.1875em) {
  .container .features-content {
    padding-top: 225px;
  }

  .content__inner .content__text{
    width: 100%;
  }

  .content__inner .content__btns{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .btn-link--primary{
      margin-right: 0 !important;
  }

  .btn-link {
    padding: 12px 30px !important;
  }

  .aboutSec__tabs-box .tab-item {
    margin-right: 0 !important;
  }

  .aboutSec {
    padding-bottom: 70px;
  }

  .aboutSec__tabs-box .tabs {
    justify-content: space-around;
  }

  .slider-logo {
    padding: 70px 0 !important;
  }

  .cart-inner {
    margin-right: 0 !important;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .nav__center .nav__link,
  .nav__right {
    display: none;
  }

  .nav__center .nav__link-mobile {
    display: block;
    margin-top: 0px;
    padding: 10px;
    width: 50px;
    height: 36px;
    background: #fff;
    text-align: center;
  }

  .header-bc {
    padding: 170px 0px 200px 0px;
  }

  .small-box {
    max-width: 100%;
    width: 100%;
  }

  .container .circle__layer {
    padding-top: 65%;
  }

  .container .about {
    margin-top: -65%;
  }

  .container .think .think__heading {
    padding: 0 15px;
    margin-bottom: 40px;
  }

  .container .cta .cta-bc {
    height: 2000px;
  }

  .container .product .product-content {
    max-width: 330px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .container .cta .cta-heading {
    padding-top: 65px;
  }

  .container .cta .cta-img-content {
    top: 250px;
  }

  .container .cta .cta-news {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .think-btns.circle-btns {
    display: none;
  }

  .foot-layer .row {
    padding-bottom: 40px !important;
  }

  .foot-policy {
    flex-direction: column;
  }
}
